{% extends 'index.html' %}
{% block content %}
<section>
    <h2>Contact Me</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- <form method="post" action="/contact">
        <input type="text" name="name" placeholder="Your Full name Here" required><br>
        <input type="email" name="email" placeholder="Your Email" required><br>
        <textarea name="message" placeholder="Your Message" required></textarea><br>
        <button type="submit">Send Message</button>
    </form> -->
{% endblock %}
